@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*{
	font-family: 'Roboto', sans-serif;
}
body{
	scroll-behavior: smooth;
	text-decoration: none;
	outline: none;
}
.background{
	width: 100%;
	height: 150vh;
	outline: none;
}
.body{
	position: absolute;
	width: 35%;
	height: 90%;
	background-color: #fff;
	margin: 50px;
	border-radius: 20px;
	box-shadow: 0 15px 20px #777;
}
.body-title{
	position: absolute;
	width: 85%;
	height: 10%;
	background-color: #0984e3;
	margin-top: -30px;
	margin-left: 38px;
	border-radius: 10px;
	box-shadow: 0 15px 20px #777; 
}
.body-title h2{
	text-align: center;
	color: #fff;
	margin-top: 15px;
}
.center{
	position: absolute;
	margin-top: 150px;
	margin-left: 80px;
}
.center span{
	position: relative;
	font-weight: 700;
	color: #555;
	font-size: 1rem;
}
.select{
	border: none;
	outline: none;
	border-bottom: 2px solid lightgrey;
	width: 100%;
	margin: 30px 25px;
	cursor: pointer;
}
form{
	margin: 30px 0;
}
label{
	font-size: 1rem;
	font-weight: 700;
	color: #555;
	margin: 10px 0;
	margin-right: 10px;
}
.label-1{
	margin-top: 25px;
	margin-left: 25px;
	margin-right: 10px;
}
input{
	border: none;
	border-bottom: 2px solid #ccc;
	width: 30%;
	outline: none;
}
.input-1{
	width: 40%;
}
/*.abc{
	position: absolute;
	bottom: 120px;
	right: 60px;
}*/
.btn1{
	position: absolute;
	bottom: 120px;
	right: 60px;
	width: 18%;
	padding: 8px 0;
	border: none;
	outline: none;
	border-radius: 5px;
	color: #fff;
	box-shadow: 0 5px 10px #777; 
	background-color: #0984e3;
	cursor: pointer;
}
.btn2{
	position: absolute;
	bottom: 120px;
	left: 60px;
	width: 18%;
	padding: 8px 0;
	border: none;
	outline: none;
	border-radius: 5px;
	color: #fff;
	box-shadow: 0 5px 10px #777; 
	background-color: #0984e3;
	cursor: pointer;
}
.body1{
	position: absolute;
	width: 55%;
	height: 90%;
	background-color: #fff;
	margin: 50px;
	border-radius: 20px;
	box-shadow: 0 15px 20px #777;
	margin-left: 42%;
	/*margin-top: 7%;*/
}
.body-title1{
	position: absolute;
	width: 80%;
	height: 10%;
	margin-top: -30px;
	margin-left: 75px;
	background-color: #2ecc71;
	border-radius: 10px;
	box-shadow: 0 15px 20px #777;
}
.body-title1 h2{
	text-align: center;
	color: #fff;
	margin-top: 15px;
}
.body1 span{
	position: absolute;
	top: 100px;
	left: 80px;
	font-size: 1.5rem;
	font-weight: 600;
	color: #555;
	letter-spacing: 0.1rem;
}
.num1{
	position: absolute;
	top: 100px;
	left: 80px;
}
.num1 p{
	color: #555;
	font-weight: bold;
	font-size: 1.1rem;
}
table{
	position: absolute;
	margin-top: 280px;
	margin-left: 220px;
	font-size: 1.3rem;
	font-weight: bold;
}
.num{
	position: absolute;
	bottom: 30px;
}
.n-left{
	left: 80px;
}
.n-right{
	right: 80px;
}
.num p{
	font-weight: bold;
	font-size: 1.1rem;
}
.box{
	position: absolute;
	top: 35%;
	left: 35%;
	display: none;
}
.box span{
	width: 40px;
	height: 40px;
	border-radius: 50%;
	display: inline-block;	
	/*margin: 0 10px*/
}
.s1{
	background: #e74c3c;
	margin: 0 50px;
	animation: s1 1s infinite;
}/*
.s2{
	background: #2980b9;
	animation: s2 1s infinite;
}*/
.s3{
	background: #2c3e50;
	animation: s3 1s infinite;
}

@keyframes s1{
	25%{
		transform: scale(1);
	}
	50%{
		transform: scale(1.3);
	}
	75%{
		transform: scale(1);
	}
	100%{
		transform: scale(1);
	}
}
@keyframes s2{
	25%{
		transform: scale(1);
	}
	50%{
		transform: scale(1);
	}
	75%{
		transform: scale(1.3);
	}
	100%{
		transform: scale(1);
	}
}
@keyframes s3{
	25%{
		transform: scale(1);
	}
	50%{
		transform: scale(1);
	}
	75%{
		transform: scale(1);
	}
	100%{
		transform: scale(1.3);
	}
}