@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*{
	margin: 0;
	padding: 0;
	font-family: 'Roboto', sans-serif;	
}
#particles-js{
	height: 100vh;
	background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.6)),url("https://www.cypherium.io/wp-content/uploads/2020/07/Home-Banner-Image.jpg");
	background-position: center;
	background-size: cover;
}
.navbar-brand{
	font-family: 'Roboto', sans-serif;
}
.navbar-brand::after{
	content: '';
	display: block;
	height: 2px;
	width: 0;
	background: #fff;
	transition: width 0.3s;
}
.navbar-brand:hover::after{
	width: 100%;
	transition: width 0.3s;
}
.title{
	position: absolute;
	top: 40%;
	left: 29%;
	color: #fff;
}
.title h1{
	font-size: 3rem;
	font-family: 'Roboto', sans-serif;
}
.title h1:hover{
	color: #007cba;
	transition: color 0.2s;
}
.btn{
	position: absolute;
	left: 8%;
}
.btn a{
	margin: 0 5px;
	color: #fff;
	font-size: 1.2rem;
	font-family: 'Roboto', sans-serif;
}
.container{
	width: 100%;
	height: 100vh;
}
form{
	margin: 30px;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
}
label{
	font-size: 1.3rem;
	font-weight: 700;
	color: #555;
}
input{
	border: none;
	border-bottom: 2px solid #ccc;
	outline: none;
}
.input-1{
	margin-left: -60px;
}
.button{
	margin-left: 240px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.loading-screen{
	width: 100%;
	height: 100vh;
	/*background: #3498db;*/
	position: fixed;	
	top: 150px;
	left: 0;
	z-index: 9999;
	display: flex;
	align-items: center;
}
.loading-screen::before{
	content: '';
	position: absolute;
	width: 80px;
	height: 80px;
	background: #f1c40f;
	left: 20%;
	transform: translateX(-50%) rotate(0);
	border-radius: 20px;
	animation: loading 4s linear infinite;
}
.myDiv{
	margin-top: 40px;
	width: 100%;
}


@keyframes loading{
	from{
		transform: translateX(-50%) rotate(0deg);
	}
	50%{
		left: 80%	
	}
	to{
		transform: translateX(-50%) rotate(1440deg);
	}
}
