@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*{
	margin: 0;
	padding: 0;
}
#particles-js{
	height: 100vh;
	background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.6)),url("https://www.cypherium.io/wp-content/uploads/2020/07/Home-Banner-Image.jpg");
	background-position: center;
	background-size: cover;
}
.navbar-brand{
	font-family: 'Roboto', sans-serif;
}
.navbar-brand::after{
	content: '';
	display: block;
	height: 2px;
	width: 0;
	background: #fff;
	transition: width 0.3s;
}
.navbar-brand:hover::after{
	width: 100%;
	transition: width 0.3s;
}
.title{
	position: absolute;
	top: 40%;
	left: 26%;
	color: #fff;
}
.title h1{
	font-size: 3rem;
	font-family: 'Roboto', sans-serif;
}
.title h1:hover{
	color: #007cba;
	transition: color 0.2s;
}
.btn{
	position: absolute;
	left: 8%;
}
.btn a{
	margin: 0 5px;
	color: #fff;
	font-size: 1.2rem;
	font-family: 'Roboto', sans-serif;
}